#form{
    width: 300px;    
    margin: auto;
    margin-top: 10%;
    background-color: #F5F5F5;
    padding: 20px;
}
#year{
    width: 60px;    
}
#mounth{
    width: 70px;    
}
#day{
    width: 60px;    
}
.count{
    width: 200px;    
    margin: auto;
    margin-top: 10%;
    background-color: #F5F5F5;
    padding: 40px;
    padding-top: 0;
}
.login{
    font-size: 10px; 
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
